{% extends 'base.html' %}

{% load static %}

{% block content %}

{% csrf_token %}
<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <h1>FTIR Background Subtract WebApp</h1>
            Some boiler plate info and links to docs...
            <p>&nbsp;</p>
            <P>For now, <b><a href="readthedocs.html">READ THE DOCS</a></b> to learn how to use this tool.</p>
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="form-group">
                    <label for="fileInput"><h1>Upload File</h2></label>
                    <input type="file" class="form-control" id="fileInput" aria-describedby="fileHelp" name="myfile">
                    <small id="fileHelp" class="form-text text-muted">Upload your valid .csv file here.</small>
                </div>
                <button type="submit" class="btn btn-primary">Plot</button>
            </form>
            <P>&nbsp;</p>

            <form action='#' method='GET'>
                <button type='submit' name='second-button'>Second button</button>
            </form>

            {% if html_string %}
            <P>{{ html_string }}</P>
            {% endif %}

            {% if graph %}
            <div class="container">
                <div class="row">
                <p>Here is your file.</p>
                <P><img src="data:image/png;base64,{{ graph|safe }}"></P>
                </div>
            </div>
            {% endif %}
        </div>
    </div>
</div>

{% endblock content %}